/* id's */
#outer{
    width:100%;
    text-align: left;
}
#randomSubjectCheck{
  text-decoration: underline;
  color: red;
}

/* classes */
.inner{
  display: inline-block;
}

.container{
  display: grid;
  grid-template-columns: 30% 50px auto auto 20%;
  grid-template-rows: 25% auto;
  width: 100vw;
}

.itemImage{
  width: 10em;
  height: 10em;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.middle{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.bottom{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
.bottomItem{
  border: 5px solid orangered;
  padding: 10px;
}
.bottomImage{
  width: 100%;
  animation: pulse 3s linear infinite;
}

.containerBottom{
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  justify-items: center;
}

.hidden{
  display: none;
}

/* button classes */
.BtnJa{
  background-color: green;
}
.BtnNee{
  background-color: deepskyblue;
}
/* elements */
button{
  font-weight: bold;
  font-size: large;
  border-radius: 8px;
  border-width: 3px;
  border-color: orange;
  background-color: rgb(254, 0, 0);
  min-height: 4em;
  min-width: 5em;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font: 100% / 200% 'Trebuchet MS';
}

body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: pink;
  background-color: black;
  margin: 0 auto;
}

main {
  padding: 2rem;
}

p{
  text-decoration: underline;
  cursor: pointer;
}

P:hover{
  color: green;
}

a{
  color: red;
}

@keyframes pulse{
  0%{transform: scale(1.0);}
  25%{transform: scale(1.15);}
  50%{transform: scale(1.0);}
  75%{transform: scale(0.85);}
  100%{transform: scale(1.0);}
}